{% extends 'layout.html'%}
{% load static%}
{% block title%}login__Page{%endblock%}
{%block css%}
    <link rel="stylesheet" href="{% static 'css/users.css'%}">
{%endblock%}
{%block content%}
<form method="POST">

    {% csrf_token %}
<div class="form_items">
    <h1>Login</h1>
    {%if messages%}
            {% for message in messages%}
                {% if message.tags == 'error' %}
                    <h4 class="error">{{message}}</h4>
                {% else%}
                    <h4 class="success">{{message}}</h4>
                {%endif%}
            {% endfor%}
        {% endif%}
  <div class="txt_field">
    <label>Username</label>
    <input type="text" required name="username">
  </div>
  <div class="txt_field">
    <label>Password</label>
    <input type="password" required name="password" >
  </div>  
  <input type="submit" value="Login" class="submit">

  <div class="signup_link">
    <a href="">Forgot password?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Have no account? <a href="{% url 'users:signup'%}">Signup</a>
    
    
  </div>
</div>
</form>
{% endblock%}